<div class="container-fluid">
  <div class="d-flex p-2 justify-content-center">
    <div class="card m-2" style="width: 20rem;">
      <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{description}}</p>
      </div>
    </div>
    <div class="d-flex flex-column m-2">
      <div class="card">
        <h5 class="card-header">{{nickname}}</h5>
        <div class="card-body">
          <p class="card-text">{{review}}</p>
          <p class="card-text"><small class="text-muted">Score: {{score}}</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What do you think about this game?</h5>
          <form method="POST" action="/games/details/{{game_id}}">
            <div class="form-group">
              <label for="score">Score:</label>
              <input type="range" class="form-control-range" min="1" max="100" id="score" name="score" oninput="currentScore.value = score.value">
              <output name="currentScore" id="currentScore">Use the slider to give the game a score!</output>
            </div>
            <div class="form-group">
              <label for="review">Your short review:</label>
              <textarea class="form-control" id="review" name="review" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>